<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.software_tool.dao.SoftwareInfoMapper">
    <resultMap id="SoftwareResultMap" type="com.nari.software_tool.entity.SoftwareInfo">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="softId" column="soft_id" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nameEn" column="name_en" jdbcType="VARCHAR"/>
        <result property="kind" column="kind" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="briefIntroduction" column="brief_introduction" jdbcType="VARCHAR"/>
        <result property="size" column="size" jdbcType="VARCHAR"/>
        <result property="latestVersion" column="latest_version" jdbcType="VARCHAR"/>
        <result property="introduction" column="introduction" jdbcType="VARCHAR"/>
        <result property="updateContent" column="update_content" jdbcType="VARCHAR"/>
        <result property="filePath" column="file_path" jdbcType="VARCHAR"/>
        <result property="exe" column="exe" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insertSoftwareInfo" parameterType="com.nari.software_tool.entity.SoftwareInfo">
        INSERT into server_software (
                soft_id,
                name,
                name_en,
                kind,
                icon,
                brief_introduction,
                size,
                latest_version,
                introduction,
                update_content,
                file_path,
                exe)
        VALUE(
            <trim suffixOverrides=",">
              <if test="softId !=null">
                  #{softId,jdbcType=VARCHAR},
              </if>
              <if test="name != null">
                  #{name,jdbcType=VARCHAR},
              </if>
              <if test="nameEn != null">
                  #{nameEn,jdbcType=VARCHAR},
              </if>
              <!--<if test="kind != null">-->
                  #{kind,jdbcType=VARCHAR},
              <!--</if>-->
              <!--<if test="icon != null">-->
                  #{icon,jdbcType=VARCHAR},
              <!--</if>-->
              <!--<if test="briefIntroduction != null">-->
                #{briefIntroduction,jdbcType=VARCHAR},
              <!--</if>-->
              <!--<if test="size != null">-->
                #{size,jdbcType=VARCHAR},
              <!--</if>-->
              <!--<if test="latestVersion != null">-->
                #{latestVersion,jdbcType=VARCHAR},
              <!--</if>-->
              <!--<if test="introduction != null">-->
                #{introduction,jdbcType=VARCHAR},
              <!--</if>-->
              <!--<if test="updateContent != null">-->
                #{updateContent,jdbcType=VARCHAR},
              <!--</if>-->
              <!--<if test="filePath != null">-->
                #{filePath,jdbcType=VARCHAR},
              <!--</if>-->
              <!--<if test="exe != null">-->
                #{exe,jdbcType=VARCHAR}
              <!--</if>-->
            </trim>)
    </insert>

    <update id="updateSoftwareInfo" parameterType="com.nari.software_tool.entity.SoftwareInfo">
        update server_software set
        <trim  suffixOverrides=",">
            <if test="softId !=null">
                soft_id = #{softId,jdbcType=VARCHAR},
            </if>
            <if test="name !=null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="nameEn !=null">
                name_en = #{nameEn,jdbcType=VARCHAR},
            </if>
            <if test="kind !=null">
                kind = #{kind,jdbcType=VARCHAR},
            </if>
            <if test="icon !=null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="briefIntroduction !=null">
                brief_introduction = #{briefIntroduction,jdbcType=VARCHAR},
            </if>
            <if test="size !=null">
                size = #{size,jdbcType=VARCHAR},
            </if>
            <if test="latestVersion !=null">
                latest_version = #{latestVersion,jdbcType=VARCHAR},
            </if>
            <if test="introduction !=null">
                introduction = #{introduction,jdbcType=VARCHAR},
            </if>
            <if test="updateContent !=null">
                update_content = #{updateContent,jdbcType=VARCHAR},
            </if>
            <if test="filePath !=null">
                file_path = #{filePath,jdbcType=VARCHAR},
            </if>
            <if test="exe !=null">
                exe = #{exe,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE id =#{id,jdbcType=INTEGER}
    </update>


    <select id="querySoftwareList" resultMap="SoftwareResultMap">
        SELECT
          id,
          soft_id,
          name,
          name_en,
          kind,
          icon,
          brief_introduction,
          size,
          latest_version,
          introduction,
          update_content,
          file_path,
          exe
        FROM
          server_software
    </select>



    <select id="querySoftwareById" parameterType="java.lang.Integer" resultMap="SoftwareResultMap">
        SELECT
          id,
          soft_id,
          name,
          name_en,
          kind,
          icon,
          brief_introduction,
          size,
          latest_version,
          introduction,
          update_content,
          file_path,
          exe
        FROM
          server_software
        WHERE soft_id = #{soft_id,jdbcType=INTEGER}
    </select>

    <select id="querySoftwareByName" parameterType="java.lang.String" resultMap="SoftwareResultMap">
        SELECT
               id,
               soft_id,
               name,
               name_en,
               kind,
               icon,
               brief_introduction,
               size,
               latest_version,
               introduction,
               update_content,
               file_path,
               exe
        FROM
             server_software
        WHERE
            <if test="name != null">
                name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%') or
                name_en LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
    </select>

    <insert id="batchInsertSoftware" parameterType="java.util.List">
        INSERT INTO server_software
            (
                soft_id,
                name,
                name_en,
                kind,
                icon,
                brief_introduction,
                size,
                latest_version,
                introduction,
                update_content,
                file_path,
                exe
            )
          VALUES
                <foreach collection="list" index="index" item="software" open="(" separator="," close=")">
                    <trim suffixOverrides=",">
                        <if test="software.softId !=null">
                            #{software.softId,jdbcType=VARCHAR},
                        </if>
                        <if test="software.name != null">
                            #{software.name,jdbcType=VARCHAR},
                        </if>
                        <if test="software.nameEn != null">
                            #{software.nameEn,jdbcType=VARCHAR},
                        </if>
                        <!--<if test="kind != null">-->
                        #{software.kind,jdbcType=VARCHAR},
                        <!--</if>-->
                        <!--<if test="icon != null">-->
                        #{software.icon,jdbcType=VARCHAR},
                        <!--</if>-->
                        <!--<if test="briefIntroduction != null">-->
                        #{software.briefIntroduction,jdbcType=VARCHAR},
                        <!--</if>-->
                        <!--<if test="size != null">-->
                        #{software.size,jdbcType=VARCHAR},
                        <!--</if>-->
                        <!--<if test="latestVersion != null">-->
                        #{software.latestVersion,jdbcType=VARCHAR},
                        <!--</if>-->
                        <!--<if test="introduction != null">-->
                        #{software.introduction,jdbcType=VARCHAR},
                        <!--</if>-->
                        <!--<if test="updateContent != null">-->
                        #{software.updateContent,jdbcType=VARCHAR},
                        <!--</if>-->
                        <!--<if test="filePath != null">-->
                        #{software.filePath,jdbcType=VARCHAR},
                        <!--</if>-->
                        <!--<if test="exe != null">-->
                        #{software.exe,jdbcType=VARCHAR}
                        <!--</if>-->
                    </trim>
                </foreach>
    </insert>

    <update id="batchUpdateSoftware" parameterType="java.util.List">
        update server_software set
    <foreach collection="list" index="index" item="software" separator="," >
        <trim  suffixOverrides=",">
            <if test="software.softId !=null">
                soft_id = #{software.softId,jdbcType=VARCHAR},
            </if>
            <if test="software.name !=null">
                name = #{software.name,jdbcType=VARCHAR},
            </if>
            <if test="software.nameEn !=null">
                name_en = #{software.nameEn,jdbcType=VARCHAR},
            </if>
            <if test="software.kind !=null">
                kind = #{software.kind,jdbcType=VARCHAR},
            </if>
            <if test="software.icon !=null">
                icon = #{software.icon,jdbcType=VARCHAR},
            </if>
            <if test="software.briefIntroduction !=null">
                brief_introduction = #{software.briefIntroduction,jdbcType=VARCHAR},
            </if>
            <if test="software.size !=null">
                size = #{software.size,jdbcType=VARCHAR},
            </if>
            <if test="software.latestVersion !=null">
                latest_version = #{software.latestVersion,jdbcType=VARCHAR},
            </if>
            <if test="software.introduction !=null">
                introduction = #{software.introduction,jdbcType=VARCHAR},
            </if>
            <if test="software.updateContent !=null">
                update_content = #{software.updateContent,jdbcType=VARCHAR},
            </if>
            <if test="software.filePath !=null">
                file_path = #{software.filePath,jdbcType=VARCHAR},
            </if>
            <if test="software.exe !=null">
                exe = #{software.exe,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE id =#{software.id,jdbcType=INTEGER}
    </foreach>
    </update>
</mapper>