<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.software_tool.dao.SoftHistoryInfoMapper">
    <resultMap id="SoftHistoryResultMap" type="com.nari.software_tool.entity.SoftHistoryInfo">
        <result property="historyId" column="history_id" jdbcType="VARCHAR"/>
        <result property="softId" column="soft_id" jdbcType="VARCHAR"/>
        <result property="branchId" column="branch_id" jdbcType="VARCHAR"/>
        <result property="historyVersion" column="history_version" jdbcType="VARCHAR"/>
        <result property="historyPath" column="history_path" jdbcType="VARCHAR"/>
        <result property="uploadDate" column="upload_date" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="appPktDate" column="appPkt_date" jdbcType="TIMESTAMP"/>
        <result property="appPktNew" column="appPkt_new" jdbcType="VARCHAR"/>
        <result property="appPktPath" column="appPkt_path" jdbcType="VARCHAR"/>
        <result property="appPktSize" column="appPkt_size" jdbcType="INTEGER"/>
        <result property="appPktMd5" column="appPkt_md5" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 根据软件Id获取软件历史版本列表信息  -->
    <select id="queryHistoryListBySoftwareId" resultType="java.util.HashMap">
        SELECT
               history_id,
               soft_id,
               branch_id,
               history_version,
               history_path,
               upload_date,
               operator,
               appPkt_date,
               appPkt_new,
               appPkt_path,
               appPkt_size,
               appPkt_md5
        FROM
             software_history
        WHERE
              soft_id =  #{softId,jdbcType=VARCHAR}
    </select>

    <select id="queryHistoryById" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT
               history_id,
               software_history.soft_id,
               server_software.name,
               software_history.branch_id,
               software_branch.branch,
               history_version,
               history_path,
               upload_date,
               operator,
               appPkt_date,
               appPkt_new,
               appPkt_path,
               appPkt_size,
               appPkt_md5
        FROM
             software_history left join server_software on software_history.soft_id = server_software.id
            left join software_branch on software_history.branch_id = software_branch.branch_id
        WHERE
                history_id =  #{id,jdbcType=VARCHAR}
    </select>

	<!-- 根据软件版本Id获取对应的安装配置信息  -->
	<select id="getVersionPkgCfgById" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT
               appPkt_date,
               appPkt_size,
               appPkt_md5
        FROM
               software_history 
        WHERE
               history_id =  #{id,jdbcType=VARCHAR}
    </select>

    <!-- 根据软件Id获取软件历史版本列表 -->
    <select id="queryHistoryList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
               software_history.history_id,
               software_history.soft_id,
               software_history.branch_id,
               history_version,
               history_path,
               upload_date,
               operator,
               appPkt_date,
               appPkt_new,
               appPkt_path,
               appPkt_size,
               appPkt_md5,
               server_software.name,
              software_branch.branch
        FROM
            software_history left join server_software on software_history.soft_id = server_software.id
            left join software_branch on software_history.soft_id = software_branch.soft_id and software_branch.branch_id = software_history.branch_id
        WHERE 1=1
            <if test='Kind != null and Kind != "0" '>
                AND server_software.kind = #{Kind,jdbcType=VARCHAR}
            </if>
            <if test='softId != null and softId != "0"'>
                AND software_history.soft_id = #{softId,jdbcType=VARCHAR}
            </if>
            <if test='branchId != null and branchId !="0"'>
                AND software_history.branch_id = #{branchId,jdbcType=VARCHAR}
            </if>
			<if test='version_name != null and version_name != "" '>
		        AND
     		        history_version like concat(concat('%',#{version_name}),'%')
            </if>
        limit
              #{start},#{length}
    </select>

    <!-- 获取软件种类总数 -->
    <select id="queryHistoryCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
            SELECT
        COUNT(1)
            FROM
            software_history left join server_software on software_history.soft_id = server_software.id
            left join software_branch on software_history.soft_id = software_branch.soft_id and software_branch.branch_id = software_history.branch_id
        WHERE 1=1
                <if test='Kind != null and Kind != "0"'>
                    AND server_software.kind = #{Kind,jdbcType=VARCHAR}
                </if>
                <if test='softId != null and softId != "0"'>
                    AND software_history.soft_id = #{softId,jdbcType=VARCHAR}
                </if>
                <if test='branchId != null and branchId !="0"'>
                    AND software_history.branch_id = #{branchId,jdbcType=VARCHAR}
                </if>
				<if test='version_name != null and version_name != "" '>
		            AND
     		            history_version like concat(concat('%',#{version_name}),'%')
                </if>
    </select>

    <insert id="addVersion" parameterType="java.util.HashMap">
        INSERT software_history (
                history_id,
                soft_id,
                branch_id,
                history_version,
                history_path,
                upload_date,
                operator,
                appPkt_date,
                appPkt_new,
                appPkt_path,
                appPkt_size,
                appPkt_md5
                )
        VALUES (
                     #{historyId},
                     #{softId},
                     #{branchId},
                     #{historyVersion},
                     #{historyPath},
                     #{uploadDate},
                     #{operator},
                     #{appPktDate},
                     #{appPktNew},
                     #{appPktPath},
                     #{appPktSize},
                     #{appPktMd5}
             )
    </insert>

    <!-- 更新软件分支信息 -->
    <update id="updateVersion" parameterType="java.util.HashMap">
        UPDATE software_history
        SET
            history_path=#{historyPath,jdbcType=VARCHAR},
            operator=#{operator,jdbcType=VARCHAR},
            upload_date=#{uploadDate,jdbcType=TIMESTAMP},
            appPkt_path=#{appPktPath,jdbcType=VARCHAR},
            appPkt_new=#{appPktNew,jdbcType=VARCHAR},
            appPkt_size=#{appPktSize,jdbcType=INTEGER},
            appPkt_md5=#{appPktMd5,jdbcType=VARCHAR}
        WHERE
            history_id = #{historyId,jdbcType=VARCHAR}
    </update>
	
	<!-- 更新软件版本程序包信息 -->
    <update id="setVersionInstllconfig" parameterType="java.util.HashMap">
        UPDATE software_history
        SET
            appPkt_date=#{appPkt_date,jdbcType=VARCHAR}
        WHERE
            history_id = #{history_id,jdbcType=VARCHAR}
    </update>

    <select id="queryHistoryVersionCount" parameterType="java.lang.String" resultType="java.lang.Integer">
        SELECT
               count(1)
        FROM
             software_history left join software_branch on software_history.branch_id = software_branch.branch_id
        WHERE
                software_history.soft_id =  #{softId,jdbcType=VARCHAR}
            and software_branch.branch = "master"
    </select>

    <select id="queryHistoryVersionUrl" parameterType="java.lang.String" resultType="java.lang.String">
        SELECT
          software_history.history_path
        FROM
        software_history left join software_branch on software_history.branch_id = software_branch.branch_id
        WHERE
            software_history.soft_id =  #{softId,jdbcType=VARCHAR}
        and software_branch.branch = "master"
    </select>

    <select id="queryHistoryVersion" parameterType="java.lang.String" resultType="com.nari.software_tool.entity.SoftHistoryInfo">
        SELECT
            software_history.history_id,
            software_history.soft_id,
            software_history.branch_id,
            software_history.history_version,
            software_history.history_path,
            software_history.upload_date,
            software_history.operator,
            software_history.appPkt_date,
            software_history.appPkt_new,
            software_history.appPkt_path,
            software_history.appPkt_size,
            software_history.appPkt_md5
        FROM
            software_history
        LEFT JOIN software_branch on software_history.branch_id = software_branch.branch_id
        RIGHT JOIN server_software ON server_software.latest_version = software_history.history_version and server_software.id = software_history.soft_id
        WHERE
            software_history.soft_id =  #{softId,jdbcType=VARCHAR}
        and software_branch.branch = "master"
    </select>

    <select id="queryHisList" resultMap="SoftHistoryResultMap">
        SELECT
               history_id,
               soft_id,
               branch_id,
               history_version,
               history_path,
               upload_date,
               operator,
               appPkt_date,
               appPkt_new,
               appPkt_path,
               appPkt_size,
               appPkt_md5
        FROM
             software_history
        where
          soft_id = #{softId,jdbcType=VARCHAR}
    </select>

    <!-- 根据软件类别id批量删除版本记录 -->
    <delete id="deleteVersionsByKind" parameterType="java.lang.String">
        DELETE FROM
            software_history
        WHERE
            soft_id
        IN
            (SELECT id FROM server_software WHERE kind = #{kindId})
    </delete>

    <!-- 根据软件id批量删除版本记录 -->
    <delete id="deleteVersionsBySoftware" parameterType="java.lang.String">
        DELETE FROM
            software_history
        WHERE
            soft_id = #{softId}
    </delete>

</mapper>