<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nari.software_tool.dao.SoftPluginMapper">
    <resultMap id="SoftPluginResultMap" type="com.nari.software_tool.entity.SoftPluginInfo">
        <result property="pluginId" column="plugin_id" jdbcType="VARCHAR"/>
        <result property="Type" column="type" jdbcType="VARCHAR"/>
        <result property="softId" column="soft_id" jdbcType="VARCHAR"/>
        <result property="Branch" column="branch" jdbcType="VARCHAR"/>
        <result property="Version" column="version" jdbcType="VARCHAR"/>
        <result property="pluginName" column="plugin_name" jdbcType="VARCHAR"/>
        <result property="pluginMD5" column="plugin_MD5" jdbcType="VARCHAR"/>
        <result property="uploadTime" column="upload_time" jdbcType="TIMESTAMP"/>
        <result property="relativePath" column="relative_path" jdbcType="VARCHAR"/>
        <result property="absolutePath" column="absolute_path" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="size" column="size" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 根据软件Id获取软件历史版本列表信息  -->
    <select id="queryPluginList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
               plugin_id,
        software_plugin.type,
        software_plugin.soft_id,
        server_software.name,
        software_branch.branch,
        software_history.history_version,
               plugin_name,
        software_plugin.plugin_MD5,
        software_plugin.upload_time,
               relative_path,
               absolute_path,
        software_plugin.operator,
        software_plugin.description,
        software_plugin.size
        FROM
             software_plugin
        LEFT JOIN server_software_kind on software_plugin.type = server_software_kind.id
        LEFT JOIN server_software on software_plugin.soft_id  = server_software.id
        LEFT JOIN software_branch on software_plugin.branch  = software_branch.branch_id
        LEFT JOIN software_history on software_plugin.version = software_history.history_id
       WHERE
           1=1
           <if test='type !=null and type !="0"'>
               and software_plugin.type =  #{type,jdbcType=VARCHAR}
           </if>
           <if test='softId !=null and softId !="0"'>
               and software_plugin.soft_id = #{softId,jdbcType=VARCHAR}
           </if>
           <if test='branch !=null and branch !="0"'>
               and software_plugin.branch =  #{branch,jdbcType=VARCHAR}
           </if>
           <if test='version !=null and version !="0"'>
               and software_plugin.version =  #{version,jdbcType=VARCHAR}
           </if>
           <if test='pluginName !=null and pluginName !=""'>
            and software_plugin.plugin_name like concat(concat('%',#{pluginName}),'%')
           </if>
        limit
            #{start},#{length}
    </select>

    <select id="queryPluginCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT
        COUNT(1)
        FROM
        software_plugin
        LEFT JOIN server_software_kind on software_plugin.type = server_software_kind.id
        left join server_software on software_plugin.soft_id = server_software.id
        left join software_branch on software_plugin.branch = software_branch.branch_id
        left join software_history on software_plugin.version =  software_history.history_id
        WHERE
            1=1
            <if test='type !=null and type !="0"'>
                and software_plugin.type =  #{type,jdbcType=VARCHAR}
            </if>
            <if test='softId !=null and softId !="0"'>
                and software_plugin.soft_id = #{softId,jdbcType=VARCHAR}
            </if>
            <if test='branch !=null and branch !="0"'>
                and software_plugin.branch =  #{branch,jdbcType=VARCHAR}
            </if>
            <if test='version !=null and version !="0"'>
                and software_plugin.version =  #{version,jdbcType=VARCHAR}
            </if>
            <if test='pluginName !=null and pluginName !=""'>
                and software_plugin.plugin_name like concat(concat('%',#{pluginName}),'%')
            </if>
    </select>

    <insert id="addPlugin" parameterType="java.util.HashMap">
        INSERT software_plugin (
                plugin_id,
                type,
                soft_id,
                branch,
                version,
                plugin_name,
                plugin_MD5,
                upload_time,
                relative_path,
                absolute_path,
                operator,
                description,
                size
              )
        VALUES (
                 #{pluginId,jdbcType=VARCHAR},
                 #{Type,jdbcType=VARCHAR},
                 #{softId,jdbcType=VARCHAR},
                 #{Branch,jdbcType=VARCHAR},
                 #{Version,jdbcType=VARCHAR},
                 #{pluginName,jdbcType=VARCHAR},
                 #{pluginMD5,jdbcType=VARCHAR},
                 #{uploadTime,jdbcType=TIMESTAMP},
                 #{relativePath,jdbcType=VARCHAR},
                 #{absolutePath,jdbcType=VARCHAR},
                 #{operator,jdbcType=VARCHAR},
                 #{description,jdbcType=VARCHAR},
                 #{size,jdbcType=VARCHAR}
                 )
    </insert>



    <select id="queryPluginById" parameterType="java.lang.String" resultType="java.util.HashMap">
        SELECT
        plugin_id,
        software_plugin.type,
        software_plugin.soft_id,
        server_software.name,
        software_branch.branch,
        software_history.history_version,
        plugin_name,
        software_plugin.plugin_MD5,
        software_plugin.upload_time,
        relative_path,
        absolute_path,
        software_plugin.operator,
        software_plugin.description,
        software_plugin.size
        FROM
        software_plugin
        LEFT JOIN server_software on software_plugin.soft_id  = server_software.soft_id
        LEFT JOIN software_branch on software_plugin.branch  = software_branch.branch_id
        LEFT JOIN software_history on software_plugin.version = software_history.history_id
        WHERE
        1=1
        <if test='pluginId !=null and pluginId !="0"'>
            and software_plugin.plugin_id = #{pluginId,jdbcType=VARCHAR}
        </if>
    </select>

    <update id="updatePlugin" parameterType="java.util.HashMap">
        update software_plugin set
        <trim  suffixOverrides=",">
            <if test="pluginName !=null">
                plugin_name = #{pluginName,jdbcType=VARCHAR},
            </if>
            <if test="pluginMD5 !=null">
                plugin_MD5 = #{pluginMD5,jdbcType=VARCHAR},
            </if>
            <if test="uploadTime !=null">
                upload_time = #{uploadTime,jdbcType=TIMESTAMP},
            </if>
            <if test="relativePath !=null">
                relative_path = #{relativePath,jdbcType=VARCHAR},
            </if>
            <if test="absolutePath !=null">
                absolute_path = #{absolutePath,jdbcType=VARCHAR},
            </if>
            <if test="operator !=null">
                operator = #{operator,jdbcType=VARCHAR},
            </if>
            <if test="description !=null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="size !=null">
                size = #{size,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE plugin_id =#{pluginId,jdbcType=VARCHAR}
    </update>

    <!-- 根据软件类别id批量删除插件记录 -->
    <delete id="deletePluginsByKind" parameterType="java.lang.String">
        DELETE FROM
            software_plugin
        WHERE
            type = #{kindId}
    </delete>

</mapper>